@font-face {
	font-family: "Albra Display TRIAL";
	src: local("AlbraDisplayTRIAL-Bold"), local("AlbraDisplayTRIAL-Bold"),
		url("../fonts/AlbraDisplayTRIAL-Bold.woff");
	font-weight: 700;
}
@font-face {
	font-family: "Albra Display TRIAL";
	src: local("AlbraDisplayTRIAL-Black"), local("AlbraDisplayTRIAL-Black"),
		url("../fonts/AlbraDisplayTRIAL-Black.woff");
	font-weight: 800;
}
@font-face {
	font-family: "Albra Display TRIAL";
	src: local("AlbraDisplayTRIAL-Medium"), local("AlbraDisplayTRIAL-Medium"),
		url("../fonts/AlbraDisplayTRIAL-Medium.woff");
	font-weight: 500;
}
@font-face {
	font-family: "Albra Display TRIAL";
	src: local("AlbraDisplayTRIAL-Medium-Italic"), local("AlbraDisplayTRIAL-Medium-Italic"),
		url("../fonts/AlbraDisplayTRIAL-Medium-Italic.woff");
	font-weight: mediumitalic;
}
@font-face {
	font-family: "Albra Display TRIAL";
	src: local("AlbraDisplayTRIAL-Regular"), local("AlbraDisplayTRIAL-Regular"),
		url("../fonts/AlbraDisplayTRIAL-Regular.woff");
	font-weight: 400;
}
@font-face {
	font-family: "Albra Display TRIAL";
	src: local("AlbraDisplayTRIAL-Semi"), local("AlbraDisplayTRIAL-Semi"),
		url("../fonts/AlbraDisplayTRIAL-Semi.woff");
	font-weight: 600;
}
@font-face {
	font-family: "Albra Grotesk TRIAL";
	src: local("AlbraGroteskTRIAL-Black"), local("AlbraGroteskTRIAL-Black"),
		url("../fonts/AlbraGroteskTRIAL-Black.woff");
	font-weight: 800;
}
@font-face {
	font-family: "Albra Grotesk TRIAL";
	src: local("AlbraGroteskTRIAL-Bold"), local("AlbraGroteskTRIAL-Bold"),
		url("../fonts/AlbraGroteskTRIAL-Bold.woff");
	font-weight: 700;
}
@font-face {
	font-family: "Albra Grotesk TRIAL";
	src: local("AlbraGroteskTRIAL-Medium"), local("AlbraGroteskTRIAL-Medium"),
		url("../fonts/AlbraGroteskTRIAL-Medium.woff");
	font-weight: 500;
}
@font-face {
	font-family: "Albra Grotesk TRIAL";
	src: local("AlbraGroteskTRIAL-Regular"), local("AlbraGroteskTRIAL-Regular"),
		url("../fonts/AlbraGroteskTRIAL-Regular.woff");
	font-weight: 400;
}
@font-face {
	font-family: "Albra Grotesk TRIAL";
	src: local("AlbraGroteskTRIAL-Semi"), local("AlbraGroteskTRIAL-Semi"),
		url("../fonts/AlbraGroteskTRIAL-Semi.woff");
	font-weight: 600;
}
@font-face {
	font-family: "Inter";
	src: local("Inter-extrabold"), local("Inter-extrabold"),
		url("../fonts/Inter-ExtraBold.ttf");
	font-weight: 800;
}

